@import "../../colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

.name-email {
    font-family: "pathway Gothic One";
    font-size: 26px;
    box-shadow: 0 4px 8px 0 rgba(178, 28, 183, 0.808);
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    border: none;
    background-color: $yellow;
    border-radius: 70px;
   padding: 10px;
    flex-wrap: wrap;
    max-width: 100%;
}
.yourprofile, .yourposts {
    font-family: "pathway Gothic One";
    font-size: 40px;
    flex-wrap: wrap;
    max-width: 100%;
}
.containerposts{
     
    flex-wrap: wrap;
       border-bottom: solid;
       box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
     transition: 0.3s;
       width: 60%;
       padding-top: 15px;
       margin: 5rem;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
}


.userpic-image{
    height: 250px;
    border-radius: 100px;
    flex-wrap: wrap;
    max-width: 100%;
    
}
.selectfile {
    display: flex;
   margin-left: 100px;
   flex-wrap: wrap;
   display: flex;
   font-family: "pathway Gothic One";
   
    max-width: 100%;

}
.myfile{
    
    padding-top: 10px;
    padding-left: 10px;
}
.file-upload-button {
    border-radius: 100px;

}
.upload-div{
    display: flex;
    flex-direction: column;
}
.userdetails{
    flex-wrap: wrap;
    max-width: 100%;
}
.bigdiv{
    flex-wrap: wrap;
    max-width: 100%;
}