@import "../../../colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

.post {
    margin: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.font{
    font-family: "pathway Gothic One";
    font-size: 40px;
    background-color: $mid;
}


.container {
   flex-wrap: wrap;
    
    
   
    border-bottom: solid;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
  transition: 0.3s;
    width: 50%;
    padding-top: 15px;
}

.title-body-image {

}

.title-body {
padding-top: 2rem;
padding-right: 2rem;
padding-left: 2rem;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-edit-like{
display: flex;
align-content: flex-end;
justify-content: flex-end;
gap: 15px;
padding-right: 30px;
padding-top: 20px;
font-size: 22px;
}