@import "../../colors.scss";

.topnav {
  background-color: $mid;
  overflow: hidden;
  padding-right: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 17px;
}

.topnav a {
  
  
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
  align-items: flex-end;
}

.topnav a:hover {
  background-color: $yellow;
  color: black;
  border-radius: 1rem;
}

.logo {
    color: aliceblue;
    margin-left: 50px;
    font-family: 'Pacifico', cursive;
    font-weight: 300;
    
   
}
 .searchbar {
    background-color: white;
    display: flex;
    width: 20rem;
    align-items: center;
    padding: 0.3rem;
    border-radius: 25rem;
    border: none;
 }
 .headerstuff {
  display: flex;
 }
 .inputsearch{
   outline: none;
      border: none;
      flex: 1;
      padding: 0 1rem;
      background-color: transparent;
 }