@import "../../colors.scss";
.register-form {
    padding-top: 40px;
    display: flex;
    
    justify-content: center;
    flex-direction: column;
    border: solid;
    border-color: aliceblue;
    margin: 300px;
    margin-top: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
  transition: 0.3s;
    
}

.signup, h3{
    color: $mid;
}

.button-signup {
    margin: 20px;
    width: 100px;
    height: 50px;
    border-radius: 2rem;
}
.button-signup:hover {
    background-color: green;
}
