

.image2 {
   margin: 5px;
   border-radius: 2rem;
    
    
}
.div-container2 {
   padding-top: 3rem;
}

.page-container2{
    padding-top: 3rem;
    display: flex;
    width: 100%;
   
   
}
.form{
    


}
