

.image2 {
   margin: 5px;
   border-radius: 2rem;
  padding-left: 40px;
  
    
    
}
.div-container2 {
   padding-top: 3rem;
}

.page-container2{
    padding-top: 3rem;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
   
   
}
.imagelogin{
    
   max-width: 100%;
   border-radius: 50px;


}
